
img {
	height: 220px;
	width: 400px;
	margin: auto;
}

.flex-item{
	display: flex;
	margin: auto;
}

p {
	margin: auto;
	font-family: 'Goldman', cursive;
	font-size: 50px	;
	font-weight: 600;
	text-align: left;
}

ul {
	list-style: decimal;
}