<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        body {
            margin: 70px;
        }
        button{
            text-decoration: none;
			border-radius: 5px;
			padding: 5px;
			color: rgb(46, 46, 46);
			font-size: 15px;
			font-weight: bold;
			font-family: 'Goldman', cursive;
        }
    </style>
</head>
<body>
    <form action="http://127.0.0.1:5000/verify" method="post">
        <input type="text" name="user" placeholder="user">
        <input type="password" name="pwd" placeholder="password">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>